html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}

body {
  padding-bottom: 54px;
  padding-bottom: 3rem;
  font-size: 18px;
  font-size: 1rem;
  background-color: #ccc;
  background-image: url("https://dl.dropboxusercontent.com/u/3810405/freecodecamp/twitch-tv/shattered.png");
}

.browsehappy {
  margin: 3.6px 0;
  margin: 0.2rem 0;
  background: #ccc;
  color: #000;
  padding: 3.6px 0;
  padding: 0.2rem 0;
}

a {
  color: #000;
}

a:hover {
  color: #9cf;
  text-decoration: underline;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  background-color: #f00;
}

#app-panel {
  margin: 36px auto 0 auto;
  margin: 2rem auto 0 auto;
  width: 360px;
  width: 20rem;
  background-color: #fff;
}

.btn {
  width: 45px;
  width: 2.5rem;
  height: 30.599px;
  height: 1.7rem;
  padding: 5.994px;
  padding: 0.333rem;
  float: left;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

#search-bar {
  width: 180px;
  width: 10rem;
  height: 30.599px;
  height: 1.7rem;
  padding-left: 3.6px;
  padding-left: 0.2rem;
  float: left;
  border: none;
  border-right: 1px solid #ccc;
}

#twitch-logo {
  text-align: center;
  background-color: rgb(100, 65, 164);
  box-shadow: inset 0px 0px 85px 4px rgba(0,0,0,0.75);
  clear: both;
}

#twitch-logo img {
  width: 180px;
  width: 10rem;
  height: auto;
  margin: 9px 0 0 0;
  margin: 0.5rem 0 0 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0
}

ul {
  padding: 0;
}

img {
  width: 54px;
  width: 3rem;
  height: 54px;
  height: 3rem;
  margin-left: 4.5px;
  margin-left: 0.25rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.online {
  border: solid 4.5px #6f9;
  border: solid 0.25rem #6f9;
}

.offline {
  border: solid 4.5px #999;
  border: solid 0.25rem #999;
}

.invalid {
  border: solid 4.5px #f66;
  border: solid 0.25rem #f66;
}

article {
  max-width: 288px;
  max-width: 16rem;
  display: inline-block;
  margin-left: 3.6px;
  margin-left: 0.2rem;
  vertical-align: middle;
  font-size: 14.4px;
  font-size: 0.8rem;
}

dl {
  margin: 0;
  padding: 3.6px 0;
  padding: 0.2rem 0;
  list-style: none;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

dl:last-child {
  border-bottom: none;
}

dl:hover {
  color: #999;
  background-color: #306;
}

dt {
  font-family: "Trebuchet MS";
  font-weight: 400;
}

dd {
  font-size: 80%;
  color: #999;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  height: 2rem;
  font-size: 15.299px;
  font-size: 0.85rem;
  text-align: center;
}

footer div p {
  display: inline-block;
  margin: 0 27px;
  margin: 0 1.5rem;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 45.625rem;
    padding: 0;
  }
}


